/** -------------------------------- input color -------------------------------- */
input.validated-true,
input.validated-true:focus-visible {
	border-color: var(--bor-foc-color-true);
	outline-color: var(--bor-foc-color-true);
}
input.validated-false,
input.validated-false:focus-visible {
	border-color: var(--bor-foc-color-false);
	outline-color: var(--bor-foc-color-false);
}
