/** -------------------------------- header -------------------------------- */
#header {
	background-color: #181818;
}
#header .fr {
	place-self: flex-end;
}
#header img.i {
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
}

/** -------------------------------- main -------------------------------- */
#main {
	background-color: var(--bg-color);
	padding: 1rem;
}

/** -------------------------------- forms -------------------------------- */
#form {
	width: 100%;
}
#form #btn {
	background-color: var(--btn-prim-bg-color);
}
#form #btn:hover {
	background-color: var(--btn-prim-hov-color);
}

/** -------------------------------- footer -------------------------------- */
#footer {
	background-color: #181818;
}
#footer a {
	padding: 0.5rem;
}
